---
import BaseLayout from "../Layouts/BaseLayout.astro";

import ProjectShowcase from "../components/ProjectShowcase.astro";
import projects from "../data/projects.json";
const pageTitle = "HI";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="main-info">
        <h1>Anshu Pathak</h1>
        <div class="lower-info">
            <p>
                Software Engineering Student <br />
                Based in Pennsylvania, USA <br />
                Expected Graduation: 2029
            </p>
            <div class="nonexpanding-img-container">
                <img src="https://placehold.co/320x160" alt="TODO: EMPTY" />
            </div>
        </div>
    </div>

    <h2>Projects</h2>

    {
        projects.projects.map((project: any) => (
            <ProjectShowcase
                ProjectName={project.name}
                Image={project.image}
                ImageAlt={project.image}
                Skills={project.skills}
            >
                {project.description}
            </ProjectShowcase>
        ))
    }

    <h2>Ipsum</h2>
</BaseLayout>
